{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static', filename='assets/img/home-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Fatih's Blog</h1>
                            <span class="subheading">A collection of Fatih's random musings</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
		                {% for i in data: %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{url_for('post', index=i['id'])}}">
                            <h2 class="post-title">{{i["title"]}}</h2>
                            <h3 class="post-subtitle">{{i["subtitle"]}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{{url_for('my_site')}}">Fatih Şarlak</a>
                            on {{i["date"]}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
		                {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% include 'footer.html' %}
